.heading1{
    text-align: center;
    color: aqua;
}

.startBtn{
    text-align: center;
}

.startBtn button{
    border: none;
    padding: 4px 15px;
    background-color: rgb(109, 165, 216);
    color: white;
    border-radius: 12px;
    margin-top: 20px;
}
.startBtn button:hover{
    background-color: rgb(83, 123, 151);
    cursor: pointer;
}
.startBtn button a{
    color: white;
    text-decoration: none;
}

fieldset{
    width: 500px;
    margin: 30px auto;
    border-radius: 15px;
}
.step1 input{
    margin-top: 30px;
    border: none;
    background-color: rgb(215, 208, 208);
    padding: 4px 10px;
    border-radius: 15px;
}
.step1 input:focus{
    outline: none;
}
#email{
    margin-left: 30px;
}
#password{
    margin-left: 10px;
}