/* h1{
    color: red;
} */

/* ul{ */
    /* list-style-type: upper-alpha;
    list-style-position: inside; */
    /* list-style: inside upper-alpha; */
/* } */

/* 
table{
    width: 700px;
    margin: 0 auto;
}

th{
    border-top: 3px solid gray;
    border-bottom: 3px solid black;
    padding: 7px;
    text-transform: uppercase;
    text-align: left;
}
td{
    padding: 5px;
}
tr:hover{
    background-color: rgb(214, 208, 208);
}
td:hover{
    background-color: rgb(70, 68, 68);
    color: white;
} */

/* 
table{
    empty-cells: hide;
    border-collapse: collapse;
    border-spacing: 5px;
}


td{
    border: 1px solid red;
} */

/* input{
    background-color: bisque;
    border: none;
    color: white;
    padding: 5px;
    border-radius: 15px;
}

input:focus{
    outline: none;
} */


/* button{
    border: none;
    padding: 5px 10px;
    background-color: lightblue;
    border-radius: 15px;
    cursor: pointer;
}

button:hover{
    background-color: rgb(33, 120, 148);
    color: white;
} */


fieldset{
    width: 300px;
    margin: 10px auto;
}

legend{
    color: white;
    text-align: center;
    background-color: lightblue;
    padding: 10px 20px;
    border-radius: 10px;
}

input{
    width: 98%;
    padding: 4px 4px;
    margin: 10px 0px;
}

body{
    cursor: pointer;
}